body {
  color: black;
  font-family: Roboto, sans-serif;
}

.card {
  border: 0 solid var(--falcon-card-border-color);
  border-radius: 0.375rem;
  box-shadow: var(--falcon-box-shadow);
  background-color: #ecf0f3;
  color: #a0a5a8;
}

.card .card--heading {
  color: #31344b;
}

.bg-card {
  background-image: url(../img/corner-4.png);
  background-size: cover;
  background-position: right;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.bg-holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-repeat: no-repeat;
}

.btn--primary {
  letter-spacing: 1px;
  background-color: #0d6efd;
  color: #f9f9f9;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  border: none;
  outline: 0;
  padding: 10px 40px;
  transform: scale(1);
}

.btn--primary:focus,
.btn--primary:hover {
  color: #f9f9f9;
  box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
  transform: scale(0.985);
  transition: 0.25s;
}

.btn-tabs {
  background: #cf4343;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
  color: #4b3331;
}

.nav-tabs {
  background-color: #e0e0c5;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
  padding: 20px;
}

#v-pills-tabContent .tab-pane {
  padding: 30px;
}

.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
  background: #e0e0c5;
  color: #31344b;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}

.alert {
  background-color: #e0e0c5;
}
